.foot{
    align-items: center;
}

.about-container{
    align-items: center;
    padding-left: 5vw;
    margin-top: 10rem;
    margin-bottom: 5rem;
}
.about-head-row{
    display: flex;
    align-items: center;
}
.about-text1{
    font-size: 6.5rem;
    color: white;

}
.about-text2{
    font-family: 'Cinzel Decorative', serif;
    font-size: 9.5rem;
    font-weight: 600;
    color: orange;

}
/* Responsive Design */
@media (max-width: 1195px) {
    .about-text1{
        font-size: 3.5rem;
    }
    .about-text2{
        font-size: 5.5rem;
    }
}
/* Mobile Phones (480px and below) */
@media (max-width: 480px) {
    .about-text1{
        font-size: 2.5rem;
    }
    .about-text2{
        font-size: 4.5rem;
    }
}
/* Very Small Devices (380px and below) */
@media (max-width: 350px) {
    .about-text1{
        font-size: 2.5rem;
    }
    .about-text2{
        font-size: 3.5rem;
    }
}

.about-head2 img{
    width: 30rem;
}

/* Mobile Phones (480px and below) */
@media (max-width: 480px) {
    .about-head2 img{
        width: 15rem;
    }
}

.about-head1 p{
    color: white;
}

.aboutpara{
    text-align: justify;
}


/* ABOUT UKFCET STYLES */
.about-ukf-head-row{
    display: flex;
    align-items: center;
}

.about-ukf-head1{
    padding-left: 5vw;
}
.about-ukf-text1{
    
    font-size: 3.5rem;
    color: white;
}

.about-ukf-text2{
    margin-top: -10rem;
    color: #e9a401;
    font-size: 6.5rem;
    font-weight: 800;
    
}

.aboutukfpara{
    color: white;
    text-align: justify;
}

.aboutpara a{
    text-decoration: none;
    color: #e9a401;
}
/* Responsive Design */
@media (max-width: 1195px) {
    .about-ukf-text1{
        font-size: 3.5rem;
    }
    .about-ukf-text2{
        font-size: 5.5rem;
    }
}
/* Mobile Phones (480px and below) */
@media (max-width: 480px) {
    .about-ukf-text1{
        font-size: 2.5rem;
    }
    .about-ukf-text2{
        font-size: 4.5rem;
    }
}
/* Very Small Devices (380px and below) */
@media (max-width: 350px) {
    .about-ukf-text1{
        font-size: 2.5rem;
    }
    .about-ukf-text2{
        font-size: 3.5rem;
    }
}